.outline{
    padding: 22px 20px;
    color: var(--white);
    font-weight: 400;
    background-color: #1c1c1c;
    transition: color 0.3s;
    font-size: 1.6rem;
    font-family: var(--font-family);

    svg{
        font-size: 1.4rem;
        margin-left: 4px;
    }

    &:hover {
        color: #13aff0;
    }
}